__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.env
*.db
*.log
seace_*.json
evolution_*.json
.wwebjs_auth
node_modules
chromedriver*
.vscode
.idea
.DS_Store
reportes_excel
