# Evolution API Configuration
EVOLUTION_API_URL=https://automation-evolution-api.gnrjtm.easypanel.host
EVOLUTION_API_KEY=429683C4C977415CAAFCCE10F7D57E11
EVOLUTION_INSTANCE_NAME=Elisa Rivadeneira

# WhatsApp Configuration
WHATSAPP_NUMBER=+51967717179

# Server Configuration
FLASK_ENV=production
FLASK_PORT=5000
FLASK_HOST=0.0.0.0

# Company Configuration
EMPRESA_NOMBRE=SOLUCIONES TECNOLÓGICAS INTEGRALES S.A.C
SEACE_SEGMENTO=43
